/* for open_meeting, join_meeting and meeting_info page */
/* page-door */
.page-door {
  font-size: 1.6rem;
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
}

.page-door > * {
  display: block;
  margin: auto;
}

.page-door p {
  margin-bottom: 20px;
}

.page-door button {
  font-weight: bold;
  background-color: #6a82fb48;
  border: 2px solid black;
  border-radius: 3px;
}

/* content */
.join-meeting-info {
  padding: 20px;
  width: 100%;
  font-size: 2rem;
}

.user-input-area > div {
  padding: 25px;
  width: 100%;
}

.user-input-title {
  border-top: 1px solid #4046638c;
  border-bottom: 1px solid #4046638c;
  font-weight: bold;
}

.opened {
  color: #404663;
  background-color: #6a82fb62;
}

.user-input-content > div > input {
  margin-bottom: 20px;
}

.user-input-buttons {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.user-input-buttons > button {
  border-radius: 5px;
  border: 2px solid black;
  background-color: transparent;
  margin-top: 25px;
}

.user_input_tips {
  background-color: rgba(128, 128, 128, 0.212);
  border-radius: 5px;
  padding: 5px;
  color: rgb(94, 94, 94);
  font-size: 1.3rem;
  font-weight: bold;
}

.none {
  visibility: hidden;
}

/* map */
#host-map {
  width: 100%;
  height: 350px;
  border: 1px solid grey;
}

#client-map {
  width: 100%;
  height: 350px;
  border: 1px solid grey;
}
