/* main css */
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansLight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "GmarketSansLight";
}

html {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
}

/* nav */
.nav-bar {
  font-weight: bold;
  font-size: 1.8rem;
  border-bottom: 2px solid black;
}

.nav-bar span {
  font-size: 1.8rem;
}

/* footer */
footer {
  margin-top: 50px;
}

/*FC5C7D 6A82FB*/
