/* main css */
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansLight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "GmarketSansLight";
}

html {
  height: 100%;
  font-size: 62.5%;
}

/* nav */
.nav-bar {
  font-weight: bold;
  font-size: 1.8rem;
  border-bottom: 2px solid black;
}

.nav-bar span{
  font-size: 1.8rem;
}

/* title-area */
.title-area {
  position: relative;
}

.title-p > * {
  font-family: "GmarketSansMedium";
}

.title-p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 10px;
}

.title-p p:nth-child(1) {
  font-size: 4rem;
  font-weight: bold;
}

.title-p p:nth-child(2) {
  font-size: 2.5rem;
}

.title-p button {
  border: 2.5px solid whitesmoke;
  background-color: transparent;
  border-radius: 3px;
  padding: 6px;
  font-size: 2.3rem;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.title-p button:hover {
  background: linear-gradient(-90deg, whitesmoke, transparent);
  background-size: 400% 400%;
  animation: gradient 2.5s ease-in-out infinite;
}

/* detail-element */
.detail-element {
  display: grid;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  height: 400px;
  grid-template-rows: 3fr 3fr 1fr 5fr;
  grid-template-areas:
    "detail-element-num"
    "detail-element-title"
    "detail-element-content"
    "detail-element-img";
  row-gap: 10px;
  justify-items: center;
}

.detail-element > p {
  height: 100%;
  margin: 0;
  text-align: center;
  display: inline-flex;
  align-items: center;
}

.detail-element > :nth-child(1) {
  grid-area: detail-element-num;
  font-size: 5rem;
  font-weight: bold;
  color: grey;
}

.detail-element > :nth-child(2) {
  grid-area: detail-element-title;
  font-size: 3.8rem;
  font-weight: bold;
}

.detail-element > :nth-child(3) {
  grid-area: detail-element-content;
  font-size: 2.3rem;
}

.detail-element > img {
  grid-area: detail-element-img;
  height: 100%;
  display: block;
  overflow: hidden;
}

.detail-area > button {
  background-color: #6a82fb3f;
  border: 2px solid black;
  border-radius: 3px;
  font-size: 2.5rem;
  font-weight: bold;
  display: block;
  margin: auto;
}

/* footer */
footer {
  margin-top: 50px;
}

/*FC5C7D 6A82FB*/
