/* for guide page */
.guide_step {
  /* border:3px solid black; */
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgba(100, 148, 237, 0.3);
  padding: 20px;
  display: grid;
}

.guide_step > p:nth-child(1) {
  font-weight: bold;
}

.guide_step:nth-child(1) {
  grid-template-rows: 1fr 3fr 6fr 2fr 1fr;
  grid-template-areas:
    "."
    "title"
    "img"
    "content"
    ".";
  row-gap: 10px;
  align-content:stretch;
}

.guide_step:nth-child(1) > p:nth-child(1) {
  grid-area: title;
  margin-bottom: 0px;
  align-content:center;
}

.guide_step:nth-child(1) > p:nth-child(2) {
  grid-area: content;
  margin-bottom: 0px;

}

.guide_step:nth-child(1) > img {
  grid-area: img;
  width: 100%;
  height: 100px;
}
