/* for open_meeting and join_meeting page */
/* title */
.page-title {
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
}

/* content */
.user-input-area > div{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  width: 100%;
}

.user-input-title{
  border-top:1px solid rgba(49, 28, 28, 0.3);
  border-bottom:1px solid rgba(128, 128, 128, 0.3);
  font-weight: bold;
}

.opened{
  color:rgb(16, 76, 78);
  background-color: rgba(95, 158, 160, 0.3);
}

.user-input-content >div> input{
  margin-bottom: 30px;
}

.prev-button {
  border-radius: 5px;
  border: 2px solid black;
  background-color: transparent;
  margin-top: 25px;
}

.next-button {
  border-radius: 5px;
  border: 2px solid black;
  background-color: transparent;
  margin-top: 25px;
}

.submit-button {
  border-radius: 5px;
  border: 2px solid black;
  background-color: transparent;
  margin-top: 25px;
  display: block;
  margin: auto;
}


#host-map {
  width: 100%;
  height: 350px;
}

#client-map {
  width: 100%;
  height: 350px;
}

/* page-door */
.page-door > *{
  text-align: center;
  display: block;
  margin:auto;
}

.page-door p{
  margin-top: 40px;
  margin-bottom: 20px;
}

.page-door button{
  background-color: blanchedalmond;
  border:2px solid black;
  border-radius: 6px;
}